* {
  margin: 0;
  padding: 0;
}

#fire {
  background-color: red;
}

#water {
  background-color: blue;
}

#earth {
  background-color: green;
}

.default-templates-container {
  display: flex;
}

.default-templates-container img {
  border: 1px solid black;
  margin-right: 8px;
  width: 100px;
  height: 80px;
}

#meme-image-container {
  background-color: white;
  border: 1px solid black;
  width: 400px;
  height: 300px;
  position: relative;
}

.meme-image {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
}

.meme-text {
  padding-left: 8px;
  position: absolute;
  z-index: 2;
  max-width: 400px;
  word-wrap: break-word;
  font-family: Anton, sans-serif;
  text-transform: uppercase;
  color: white;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
